<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NguyenDucThuan.Properties.Settings.WF_QL_nhanvienConnectionString"
            connectionString="Data Source=DESKTOP-E43PI42\MSSQLSERVER2017;Initial Catalog=WF_QL_nhanvien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
